:root{
/* ----------------------
:: Fonts
 */
    --sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
/* ----------------------
:: Type Size & line heigth
 */
    --type-size-default: 1.6rem;
    --type-size-xxl: calc(var(--type-size-default)*2);
    --type-size-xl: calc(var(--type-size-default)*1.5);
    --type-size-lg: calc(var(--type-size-default)*1.25);
    --type-size-md: calc(var(--type-size-default)*1.125);
    --type-size-sm: calc(var(--type-size-default)*.875);

    --line-height-xxl: var(--type-size-xl);
    --line-height-xl: var(--type-size-lg);
/* ----------------------
:: Font weights
 */
    --light: 200;
    --regular: 400;
    --bold: 600;
}
