.o-content{
    padding-top: 80px;
    width: 100%;
}
/* ---------------------
 * Section
 */
.o-content > .o-section{
    position: relative;
    padding: 0;
    max-width: 120rem;
    margin: 0 auto;
    display: block;
}
.o-section--red{
    background-color: var(--copra-red);
}
.o-section--red:after, .o-section--red:before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--copra-red);
    width: 100%;
    height: 100%;
}
.o-section--red:after{
    left: auto;
    right: -100%;
}
.o-section.o-section--shadow{
    padding-bottom: 5rem;
}
.o-section--shadow::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
	border-radius: 50%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
/* ---------------------
 * Text
 */
.o-text--centered{
    text-align: center;
}
 .o-text h1, .o-text h2{
   text-align: center;
   font-size: 32px;
   line-height: 120%;
   font-weight: 200;
   color: rgb(100,100,100);
   display: table;
   padding: 10px 10px;
   margin: 0 auto 30px;
   border-bottom: 1px solid rgb(225,70,75);
 }
.o-text blockquote{
   text-align: center;
   font-size: 30px;
   font-weight: 200;
   width: 100%;
   margin: 0 auto 10px;
 }
 .o-text blockquote blockquote{
   font-size: 24px;
   color: rgb(90,170,150);
 }
 .o-text blockquote p{
   font-size: inherit;
 }
 .block-content-image{
   text-align: center;
 }
 .block-content-image img{
   display: inline-block;
 }
