.footer{
	text-align: center;
	width: 100vw;
	padding: 75px 25px;
	background-color: rgb(250,250,250);
}

.footer .legal{
	padding: 15px;
	font-size: 16px;
	color: rgb(150,150,150);
}

.footer .legal .copyright{
	padding: 30px 0 10px;
	position: relative;
}
.footer .legal .copyright:before{
	height: 1px;
	width: 70px;
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 50%;
	margin-left: -35px;
	background-color: rgb(200,200,200);
}
.footer .separator--dot{
  padding: 0 10px;
}
.footer .link--quiet{
  color: rgb(150,150,150);
}
.footer .link--quiet:hover{
  text-decoration: underline;
}
.navigation--footer{
	padding: 20px 0;
	list-style: none;
}
.navigation--footer li{
	display: inline-block;
}
.navigation--footer a{
	font-weight: 200;
	color: rgb(100,100,100);
	font-size: 20px;
	padding: 5px 20px;
	position: relative;
}
.navigation--footer a:before{
	content: "";
	display: block;
	position: absolute;
	opacity: 0;
	width: 0;
	left: 20px;
	bottom: -3px;
	height: 3px;
	background-color: rgb(225,70,75);
	transition: width 0s ease .5s, opacity .4s ease;
}
.navigation--footer a:hover:before{
	opacity: 1;
	width: 100%;
	width: calc(100% - 40px);
	transition: width .35s ease, opacity 0s ease 0s;
}
