.o-timeline{
  height: 100%;
  position: relative;
  margin: 25px 0;
}
.o-timeline:before{
  display: block;
  width: 6px;
  height: 100%;
  height: calc(100% + 25px);
  content: "";
  position: absolute;
  top: -25px;
  left: 30px;
  margin-left: -3px;
  background-image: linear-gradient( 180deg, rgba(225,70,75,0), rgb(225,70,75) 10%);
  border-radius: 6px;
}
.o-timeline-item{
  display: block;
  padding: 10px;
  background-color: rgb(255,255,255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.35), 0 0 1px rgba(0,0,0,0.15);
  /*margin-left: 60px;*/
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .o-timeline-item{
    margin-left: 50%;
    width: 300px;
    margin-bottom: 0;
  }
  .o-timeline:before{
    left: 50%;
  }
}
.o-timeline-item:after, .o-timeline-item:before{
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: 50%;
  z-index: 3;
  margin-top: -8px;
  left: -16px;
  border: 8px solid rgb(255,255,255);
  border-color: transparent rgb(255,255,255) transparent transparent;
}
.o-timeline-item:after{
  z-index: 1;
  border-width: 9px;
  margin-top: -9px;
  left: -18px;
  border-color: transparent rgba(0,0,0,0.15) transparent transparent;
}
.o-timeline-item-visual{
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  position: absolute;
  top: 50%;
  left: -43px;
  margin-top: -13px;
  border-radius: 50%;
  border: 4px solid rgb(225,70,75);
  background-color: rgb(255,255,255);
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}
@media screen and (min-width: 600px) {
    .o-timeline{
        margin-top: 10rem;
        margin-bottom: 20rem;
    }
  .o-timeline .o-timeline-item:nth-child(odd){
    transform: translate(calc(-100% - 30px),0);
  }
  .o-timeline-item:nth-child(odd) .o-timeline-item-visual{
    left: 100%;
    margin-left: 17px;
  }
  .o-timeline .o-timeline-item:nth-child(odd):before{
    left: auto;
    right: -16px;
    border-color: transparent transparent transparent rgb(255,255,255);
  }
  .o-timeline .o-timeline-item:nth-child(odd):after{
    left: auto;
    right: -18px;
    border-color: transparent transparent transparent rgba(0,0,0,0.15);
  }
  .o-timeline .o-timeline-item:last-child:nth-child(odd){
    transform: translate(calc(-100% - 30px),50%);
  }
}
.o-timeline .o-timeline-item:last-child:nth-child(even){
  transform: translate(30px,50%);
}

.o-timeline-item__year{
  margin: 0 0 7px 0;
  color: rgb(225,70,75);
}
.o-timeline-item p{
  margin-bottom: 7px;
}
.o-timeline-item p:last-child{
  margin-bottom: 0;
}
.o-timeline-item ul{
    list-style: none;
}
.o-timeline-item li{
    margin-bottom: 7px;
}
